<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>:: User Home ::</title>
    <style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
  .wrapingimage
{
float: left;
margin: 30px 12px 3px 4px;
border: 2px solid blue;
}

</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="navbar">
<a href="{% url 'userhome' %}">Home</a>&nbsp;&nbsp;
    <a href="{% url 'search' %}">Search Movies</a>
    <a href="{% url 'userlog' %}">User Log</a>
    <a href="{% url 'analysis' %}">Analysis</a>
    <a href="{% url 'userlogout' %}">Logout</a>
</div>

{% for r in results %}
{{r.Genre_name}}
        {% if r.picture %}
        <div class="wrapingimage">
        <img src="{{r.picture.url}}" height="200" width="200"/>
        </div>
        {% endif %}
<br><br>
Movie Name:{{r.movie_name}}<br>
Hero:{{r.hero}}<br>
Heroine:{{r.heroine}}<br>
Director:{{r.Director}}<br>
Release Year:{{r.Release_year}}<br>
Age:{{r.Age}}+<br>
Rating:{{r.Rating}}<br>
Duration:{{r.Duration}}<br>
Genre:{{r.Genre_name}}<br>
Description:{{r.Description}}<br>
<br><br>
{% endfor %}
</body>
</html>